project_name='SomeProject'
launch_conf_name="${project_name}LaunchConf"
instance_type='t2.micro'
image_id='ami-1234567'
as_group_name="${project_name}AsGroupName"
elb_name="${project_name}LoadBalancer"
elb_listeners='Protocol=HTTP,LoadBalancerPort=80,InstanceProtocol=HTTP,InstancePort=80'
availability_zones='us-east-2a us-east-2b'
max_size=1
min_size=0
desired_capacity=0
key_name="${project_name}KeyPair"
security_group_ids=''
health_check_type='ELB'
health_check_grace_period=300
tags="ResourceId=$as_group_name,ResourceType=auto-scaling-group,Key=environment,Value=test,PropagateAtLaunch=true"
scale_in_policy='scaleIn'
scale_out_policy='scaleOut'
cooldown=60
low_cpu_alarm_name='low_cpu_alarm'
high_cpu_alarm_name='high_cpu_alarm'
